.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 2px solid yellow;
  padding: 10px;
  transition: all 0.3s ease;
}

.input-label {
  font-size: 16px;
  color: black; /* Color del texto de la etiqueta */
  margin-bottom: 0px;
}

.custom-input {
  padding: 0px 20px;
  border: none;
  font-size: 16px;
  background-color: transparent;
  outline: none;
}

.custom-input::placeholder {
  color: grey;
  opacity: 1;
}
