.header {
  margin-top: 2px;
  height: 5vh;
  width: 95vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-color: #f8f9fa;
  border: 2px solid rgb(255, 98, 98);
}

.user-info {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.user-name {
  margin: 0;
  font-size: 18px;
  margin-inline: 20px;
  font-weight: 500;
  color: #333;
}
