.courses-container {
  width: 95%;
  height: 100%;
  border: 1px solid blue;
  padding: 0px 5px;
  display: flex;
  flex-direction: column;
}

.first-block {
  width: 95%;
  margin: 5px;
  display: flex;
  justify-content: space-between;
}
