.search-container {
  width: 250px;
  display: flex;
  margin-left: 10px;
  justify-content: space-between;
  align-items: end;
}
<<<<<<< HEAD
=======

.input-container {
  display: flex;
  justify-content: baseline;
  align-items: baseline;
}
>>>>>>> Task1
